.units {
  font-size: 20px;
}

.city-name {
  font-weight: 38px;
  font-size: 27px;
  margin-bottom: 6px;
  margin-right: 25px;
  text-align: right;
}
.temperature-on-display {
  margin-top: 10px;
}

li {
  color: #6a6b6c;
  font-size: 15px;
  list-style: none;
  text-align: right;
  line-height: 18px;
  margin-right: 25px;
}
